# This ID must be unique across the cluster
jira.node.id = jira_node_{{ jira_datacenter_node_id }}
# The location of the shared home directory for all JIRA nodes
jira.shared.home = {{ jira_datacenter_shared_home }}

{% if 'ehcache.peer.discovery' %}
# Describes how nodes find each other (Default, automatic)
ehcache.peer.discovery = {{ ehcache_peer_discovery }}
{% endif %}

{% if 'ehcache.listener.hostName' %}
# The hostname of the current node for cache communication
ehcache.listener.hostName = {{ ehcache_listener_hostName }}
{% endif %}

{% if 'ehcache.listener.port' %}
# The port the node is going to be listening to ( default = 40001)
ehcache.listener.port = {{ ehcache_listener_port }}
{% endif %}

{% if 'ehcache.object.port' %}
# The port on which the remote objects bound in the registry receive calls. Make sure you also open this port on your firewall.
# We recommend that you specify this parameter, as otherwise a random free port will be used.
ehcache.object.port = {{ ehcache_object_port }}
{% endif %}

{% if 'ehcache.listener.socketTimeoutMillis' %}
# By default this is set to the Ehcache default.
ehcache.listener.socketTimeoutMillis = {{ ehcache_listener_socketTimeoutMillis }}
{% endif %}

